@page
@model Lab2.Pages.MailModel
@{
}
<h1>Mail</h1>
<form method="post">
    <label>To</label><br />
    <input asp-for="toMail" /><br />
    <br />
    <label>Subject</label><br />
    <input asp-for="subject" /><br />
    <br />
    <label>Message</label><br />
    <textarea asp-for="message"></textarea><br />
    <br /><br />
    <input type="submit"/>

</form>
